* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #fff;
}

canvas {
    background-color: #000;  /* 벽을 검정색으로 */
    border: 10px solid #000;  /* 검정색 테두리 */
    border-radius: 10px;  /* 둥근 모서리 */
}

p#score {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #fff;
}
